

/*h2 {
    box-shadow: 8px 5px 5px  #927619;
}
.avatar__image {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 8px 5px 5px  #caaa3e;
}
.avatar__image2 {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    box-shadow: 8px 5px 5px  #927619;
}*/


.background__image2{
        background-image: url(../images/erica.jpg);
        background-color: #cccccc; /* Used if the image is unavailable */
        height: auto; /* You must set a specified height SÄTT DETTA NÄR SIDOR ÄR KLARA OCH DU VET HEIGH*/
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        background-attachment: fixed;
        overflow: hidden;
        /* Behöver overflow hidden någonstans?*/
}

.moi {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-self: center;
    max-height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image__box2{
    display: flex;
    flex-wrap: wrap;
    align-self: end;
}

.about__text-head {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.about__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color:#e9e9e8;
    letter-spacing: 1px;
    margin: 10px 20px 20px 20px;
}

.all__about {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    position: relative;
}

.about__card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 580px;
    max-height: 800px;
    width: 100%;
    margin-left: 50px;
    background-color: black;
    border-radius: 5px;
    opacity: 0.8;
    cursor: pointer;
}

/*kolla hur du döljer knappen*/

@media screen and (min-width: 0px) and (max-width: 768px) {
    .about__card {
        display: flex;
        justify-content: center;
        max-width: 700px;
        max-height: 700px;
    }

    .about__text{
        font-size:smaller;   
    }

    .all__about {
        margin-right:50px;
    }

}

@media screen and (min-width: 0px) and (max-width: 470px) {
    
    .about__card{
        max-width: 370px;
        max-height: 500px;
    }

    .about__text{
        font-size:7px;   
    }

    
}



.fa-angellist {
    color:#927619;
}



.btn__me {
    display: flex;
    align-self:center;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    width: 100%;
    min-height: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 4px #68a3dd;
    background-color: #3d8dde;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.nav__links {
    text-decoration: none;
    color:black;
    font-family: 'Fredoka One', cursive;
}

.btn__me:hover {
    background-color:#224c75; 
    font-size: large;
    font-weight: 400;
    transition: all 0.3s ease;
}

.fa-envelope {
    margin-left: 5px;
    color:#927619;
}