
.background__image2{
    background-image: url(../images/erica.jpg);
    height: auto; 
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    background-attachment: fixed;
    overflow-x: hidden;
}

.all__about {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    position: relative;
}

.moi {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-self: center;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image__box2{
    display: flex;
    flex-wrap: wrap;
    align-self: end;
}

.about__text-head {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.about__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color:#e9e9e8;
    letter-spacing: 1px;
    margin: 10px 20px 20px 20px;
}

.about__card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 580px;
    height: 800px;
    width: 100%;
    margin-left: 50px;
    background-color: black;
    border-radius: 5px;
    opacity: 0.8;
    cursor: pointer;
}


.fa-angellist {
    color:#927619;
}



.btn__me {
   
    max-width: 150px;
    width: 100%;
    min-height: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 4px #68a3dd;
    background-color: #3d8dde;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.nav__links {
    text-decoration: none;
    color:black;
    font-family: 'Fredoka One', cursive;
}

.nav__links:hover {
    color: #fff;
}

.btn__me:hover {
    background-color:#224c75; 
    font-size: large;
    font-weight: 400;
    transition: all 0.3s ease;
}

.fa-envelope {
    margin-left: 5px;
    color:#fff;
}

/*kolla hur du döljer knappen*/

/* Ipad */ 
@media screen and (min-width: 0px) and (max-width: 768px) {
    .about__card {
    display: flex;
    justify-content: center;
    max-width: 700px;
    max-height: 700px;
    align-self: center;
}

    .about__text{
        font-size:smaller;   
    }

    .all__about {
        margin-right:50px;
    }

    .btn__me {
        visibility: hidden;
    }

}

/*FRÅGA - hur får jag knappen minskad i mobilstorlek? haha*/ 

/*Mobil*/
@media screen and (min-width: 0px) and (max-width: 470px) {
    
    .all__about {
        height: 600px;
    }
    .about__card{
        max-width: 370px;
        max-height: 500px;
    }

    .about__text{
        font-size:7px;   
    }
    
}
