
.contact__head-text {
  color:#fff;
}

.all__contact-page {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  height: 800px;
  width: 100%;
}


.inputs {
  height: 30px;
  border-radius: 5px;
  text-align: center;
  color: #091b25;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.msg__bar {
  height: 200px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.form__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c1ad6d;
  opacity: 0.8;
  width:450px;
  height:550px;
  color:#fff;
  border-radius: 5px;
}

.sends {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #223036;
  align-self: center;
  color:#fff;
}

.sends:hover{
  background-color: #000;
  color:#3a535f;
  transition: all 0.3s ease;
}

.form__contact{
  display: flex;
  flex-direction: column;
  width: 400px;
}

#myVideo2 {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


@media screen and (min-width: 1023px) and (max-width: 1370px) {
  .all__contact-page{
  height: 1400px;
  }
}

@media screen and (min-width: 449px) and (max-width: 897px) {

  .all__contact-page {
    height: 1200px;
  }

}

@media screen and (min-width: 320px) and (max-width: 450px) {
  .all__contact-page {
    height: 820px;
  }

  .form__container{
    justify-content: center;
    width: 300px;
    height: 420px;
    margin-top: 20px;
  }

  .form__contact{
    width: 200px;
    height: 400px;
  }
}


@media screen and (min-width: 0px) and (max-width: 339px) {

  .form__container{
    justify-content: center;
    width: 250px;
    height: 420px;
    margin-top: 20px;
  }

  .form__contact{
    width: 200px;
    height: 400px;
  }
  
}