
.footer__box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    bottom: 0;
}

.text__footer {
    letter-spacing: 1.6px;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Josefin Sans', sans-serif; 
}

.fa, .fa-github {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook, .fa-github, .fa-linkedin, .fa-youtube {
    color: white;
}


.fa-facebook:hover, .fa-github:hover, .fa-linkedin:hover, .fa-youtube:hover {
    color: 	#8d7115;
    transition: all 0.3s ease 0s;
}
