
.mini__logo {
    margin-left: 40px;
}

.fa-angellist, .fa-venus, .fa-file-alt, .fa-folder, .fa-itunes-note, .fa-hand-point-left {
  color:#c1ad6d;
  margin: 0px 10px 0px 10px;
}

.nav-links {
  font-size: 25px;
  text-decoration: none;
  color:#fff;
  text-shadow: 1px 1px #000, 1px 1px #fff;
 font-family: 'Bebas Neue', cursive;
}


.nav-links:hover{
  color: #927619;
  transition: all 0.3s ease;
}