
  .mini__logo {
    margin-left: 40px;
  }

.fa-angellist, .fa-venus, .fa-file-alt, .fa-folder, .fa-itunes-note, .fa-hand-point-left {
  color:#927619;
  margin: 0px 10px 0px 10px;
}

.nav-links {
  font-size: 20px;
  text-decoration: none;
  color:#fff;
}

.nav-links:hover{
  color: #927619;
  transition: all 0.3s ease;
}