
body{
  font-size: 16px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #000;
}

/*navbar*/
.d-flex {
  align-content: center;
  flex-direction: column;
}

/*Ends nav*/

.all__index {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 830px;
}

.index__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  color: #f1f1f1;
  width: 50%;
}

.index__text {
  width: 50%;
  font-size: 50px;
  color:#fff;
  text-transform: uppercase;
  text-shadow: 1px 1px #fff, 2px 2px #000, 3px 3px #fff, 4px 4px #000, 0.125rem 0.125rem #fff;
}

/*
#myVideo {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  right: 0;
  bottom: 0;
} */


#myVideo {
  position: fixed;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%)

}

@media (min-aspect-ratio: 16/9) {
  #myVideo {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #myVideo {
    width: auto;
    height: 100%;
  }
}

/* Screen sizes*/ 

@media screen and (min-width: 800px) and (max-width: 1480px) {
  #myVideo {
    width: 1480;
    height: auto; 
  }
}


@media screen and (min-width: 800px) and (max-width: 1050px) {
  .all__index {
    height: 1200px;
    justify-content: center;
    align-items: center;
  }

  #myVideo{
    width: 100%;
    height: 100%;
  }

  .index__container {
    width: 100%;
  }
  .index__text {
    font-size: 55px;
  }

}

@media screen and (min-width: 760px) and (max-width: 799px) {
  .all__index {
    height: 800px;
    justify-content: center;
    align-items: center;
  }

  #myVideo{
    width: 100%;
    height: 100%;
  }

  .index__container {
    width: 100%;
  }
  
}

@media screen and (min-width: 375px) and (max-width: 759px) {
  .all__index {
    height: 600px;
  }

  #myVideo{
    width: 100%;
    height: 100%;
  }

  .index__container {
    width: 100%;
  }

  .index__text {
    font-size: 40px;
  }
}

@media screen and (min-width: 0px) and (max-width: 374px) {
  .all__index {
    height: 480px; 
  }

  .index__container {
    width: 100%;
  }

  #myVideo{
    width: 100%;
    height: 100%;
  }

  .index__text {
    font-size: 30px;
  }
}
