
body{
  font-size: 16px;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  background-color: black;
}

.all__index {
  display: flex;
  justify-content: center;
  height: 700px;
}

.landing__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing__text  {
  color:#fff;
  text-transform: uppercase;
}

.background__image {
  background-image: url(/images/frontbild.jpg);
  min-height: 950px; /* You must set a specified height SÄTT DETTA NÄR SIDOR ÄR KLARA OCH DU VET HEIGH*/
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-attachment: fixed;
  overflow: hidden;
  /* Behöver overflow hidden någonstans?*/
}
