.background__image3 {
    background-image: url(/images/leonfli.jpg);
    height: auto; /* samma fråga på alla dessa sidor*/
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    overflow: hidden;
}

.all__music{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 2500px;
    margin-top: 40px;
}

.text-spot__container {
    display: flex;
    justify-content: space-evenly;
}

.about__lionfly {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:black;
    color:#4897b5;
    max-width: 500px;
    width: 100%;
    opacity: 0.8;
    position: relative;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.about__text1 {
    margin-top: 20px;
    font-family: 'Fredoka One', cursive;
    color: #8d7115; 
}

.about__text2 {
    letter-spacing: 1px;
    margin: 20px 30px 30px 30px;
}


.mini__text{
    display: flex;
    align-self: center;
    align-items: center;
    opacity: 0.8;
    color: #fff;
    max-width: 300px;
    width: 100%;
    height: 150px;
    letter-spacing: 3px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.fa-quote-left, .fa-quote-right {
    color:#8d7115;
}

.spotify {
    display: flex;
    align-self: center;
}

.video__container {
    display: flex;
    flex-direction: column;
}

.dark__dreams, .epiphany, .down__lines, .lowly__coward {
    max-width:820px;
    width: 100%; 
    height:460px;
}

.dark__dreams-box, .epiphany-box, .down__lines-box {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media screen and (min-width: 0px) and (max-width: 1047px) {
    
    .mini__text, .spotify {
        display: none;
    }
}

@media screen and (min-width: 0px) and (max-width: 810px) {
    
    .dark__dreams, .epiphany, .down__lines, .lowly__coward{
    max-width:600px;
    height: 360px;
    }

    .about__lionfly {
        max-width: 400px;
    }

    .all__music {
        height: 2300px;
    }
}
