
.background__image4{
    background-image: url(../images/EZ_mindre.png);
    height: auto; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
    overflow-x: hidden;
}


.all__portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 1400px;
}

.cards__port-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 1200px;
}



.head__port-text {
    font-size: 50px;
}

.card1 {
    display: flex;
    align-items: center;
    align-self: center;
    max-width: 500px;
    width: 100%;
    height: 300px;
    background-color: #000;
    color:#fff;
    opacity: 0.7;
    overflow: hidden;
    border-style: solid;
}

.card2 {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
    height: 500px;
    background-color: #000;
    color:#fff;
    opacity: 0.7;
    overflow: hidden;
    border-style: solid;
}

.text-portfolio {
    color:#fff;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}

.felicia__btn {
    width: 180px;
    height: 60px;
    border-radius: 5px;
    background:none;
    border-style: solid;
    color:#fff;
    cursor: pointer;
    font-weight: 800;
}

.felicia__btn:hover {
    background-color: rgba(214, 19, 19, 0.637);
    color:#000;
    transition: all 0.3s ease-in-out;
}

/*Felicia box*/ 

.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    max-width: 400px;
    height: 800px;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

.fa-github {
    color:#fff;
    cursor: pointer;
    text-decoration: none;
}

.skills__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
    max-width: 400px;
    width: 100%;
}

.rec1 {
    background-color: rgba(214, 19, 19, 0.637);
    max-width: 400px;
    width: 100%;
}

.rec2 {
    background-color:rgba(2, 5, 170, 0.467);
    max-width: 400px;
    width: 100%;
}

.rec3 {
    background-color: rgba(214, 19, 19, 0.637);
    max-width: 400px;
    width: 100%;
}

.rec4 {
    background-color:rgba(2, 5, 170, 0.467);
    max-width: 400px;
    width: 100%;
}

.rec5 {
    background-color: rgba(214, 19, 19, 0.637);
    max-width: 400px;
    width: 100%;
}

.rec6 {
    background-color:rgba(2, 5, 170, 0.467);
    max-width: 400px;
    width: 100%;
}

@media screen and (min-width: 807px) and (max-width: 1039px) {
    .card1, .card2 {
        width:400px ;
    }

}


@media screen and (min-width: 0px) and (max-width: 807px) {

    .all__portfolio {
        height: 1300px;
    }
    .cards__port-container{
        flex-direction: column;
        align-items: center;
    }

    .card1 {
        margin-bottom: 10px;
    }
}