/*
.background__image4{
    background-image: url(../images/EZ_mindre.png);
    height: auto; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size:contain;
    background-attachment: fixed;
    overflow-x: hidden;
}
*/
  
.all__portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 2300px;
}

.cards__port-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 2100px;
}


.head__port-text {
    font-size: 50px;
    color:#c1ad6d;
}

.card1 {
    display: flex;
    align-items: center;
    align-self: center;
    max-width: 500px;
    width: 100%;
    height: 300px;
    background-color: #000;
    color:#fff;
    opacity: 0.7;
    overflow: hidden;
    border-style: solid;
}

.card2 {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
    height: 500px;
    background-color: #000;
    color:#fff;
    opacity: 0.7;
    overflow: hidden;
    border-style: solid;
}

.text-portfolio {
    color:#fff;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}

.felicia__btn {
    width: 180px;
    height: 60px;
    border-radius: 5px;
    background:none;
    border-style: solid;
    color:#fff;
    cursor: pointer;
    font-weight: 800;
}

.felicia__btn:hover {
    background-color: rgba(214, 19, 19, 0.637);
    color:#000;
    transition: all 0.3s ease-in-out;
}

/*Felicia box*/ 

.container {
    position: relative;
    width: 50%;
}
  
.image {
    opacity: 1;
    display: block;
    max-width: 400px;
    height: 800px;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.container:hover .image {
    opacity: 0.3;
}
  
.container:hover .middle {
    opacity: 1;
}
  
.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.fa-github {
    color:#fff;
    cursor: pointer;
    text-decoration: none;
}

.skills__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
    max-width: 400px;
    width: 100%;
}

.rec1 {
    background-color:#927619;
    max-width: 400px;
    width: 100%;
}

.rec2 {
    background-color:#c1ad6d;
    max-width: 400px;
    width: 100%;
}

.rec3 {
    background-color:#927619;
    max-width: 400px;
    width: 100%;
}

.rec4 {
    background-color: #c1ad6d;
    max-width: 400px;
    width: 100%;
}

.rec5 {
    background-color:#927619;
    max-width: 400px;
    width: 100%;
}

.rec6 {
    background-color:#c1ad6d;
    max-width: 400px;
    width: 100%;
}

.rec7 {
    background-color:#927619;
    max-width: 400px;
    width: 100%;
}

/* Skills box */

.skills__head-text {
    font-size: 50px;
}

.skills {
    color:#c1ad6d;
}

.progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    max-width: 500px;
    width: 100%;
}
  
.progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

.progress-value2 {
    animation: load2 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

.progress-value3 {
    animation: load3 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

.progress-value4 {
    animation: load4 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

.progress-value5 {
    animation: load5 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

.progress-value6 {
    animation: load6 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

.progress-value7 {
    animation: load7 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}
  
  @keyframes load {
    0% { width: 0; }
    100% { width: 88%; }
  }

  @keyframes load2 {
    0% { width: 0; }
    100% { width: 84%; }
  }

  @keyframes load3 {
    0% { width: 0; }
    100% { width: 30%; }
  }

  @keyframes load4 {
    0% { width: 0; }
    100% { width: 70%; }
  }

  @keyframes load5 {
    0% { width: 0; }
    100% { width: 80%; }
  }

  @keyframes load6 {
    0% { width: 0; }
    100% { width: 70%; }
  }

  @keyframes load7 {
    0% { width: 0; }
    100% { width: 100%; }
  }

