
.background__image4{
    background-image: url(../images/fog.jpg);
    height: auto; 
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    background-attachment: fixed;
    overflow-x: hidden;
}

.all__portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 900px;
}

.cards__port-container {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0px 40px 0px;
}

.card__head-text {
    font-family: 'Fredoka One', cursive;
}

.card1, .card2 {
    display: flex;
    align-items: center;
    max-width: 500px;
    width: 100%;
    height: 300px;
    background-color: #000;
    opacity: 0.7;
    overflow: hidden;
}

.text {
    color:#fff;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}

.fa-github {
    color:#fff;
    cursor: pointer;
    text-decoration: none;
}

.fa-github:hover {
    color:#8d7115;
}

.skills__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rec1 {
    background-color: rgba(39, 105, 30, 0.637);
    max-width: 400px;
    width: 100%;
}

.rec2 {
    background-color:#7357;
    max-width: 400px;
    width: 100%;
}

.rec3 {
    background-color: rgba(34, 68, 34, 0.568);
    max-width: 400px;
    width: 100%;
}

.rec4 {
    background-color: rgba(34, 34, 85, 0.589);
    max-width: 400px;
    width: 100%;
}

.rec5 {
    background-color: rgba(136, 85, 51, 0.637);
    max-width: 400px;
    width: 100%;
}

.rec6 {
    background-color: #6735;
    max-width: 400px;
    width: 100%;
}

@media screen and (min-width: 807px) and (max-width: 1039px) {
    .card1, .card2 {
        width:400px ;
    }

}

/* Fråga - Varför kopplas in denna? när man kollar inspection tools ser man media.q på det ovan, men inte här..så gissar det är något med "kopplingen" som gör
att jag inte kan skriva? För det ska gå att göra columm haha.*/ 

@media screen and (min-width: 0px) and (max-width: 807px) {

    .all__portfolio {
        height: 1100px;
    }
    .cards__port-container{
        flex-direction: column;
        align-items: center;
    }

    .card1 {
        margin-bottom: 10px;
    }
}