/*
.background__image4{
    background-image: url(../images/EZ_mindre.png);
    height: auto; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size:contain;
    background-attachment: fixed;
    overflow-x: hidden;
}
*/
  
.all__portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 3800px;
}

.cards__port-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 3700px;
}


.head__port-text {
    font-size: 40px;
    color:#c1ad6d;
}

.card1 {
    display: flex;
    align-items: center;
    align-self: center;
    max-width: 500px;
    width: 100%;
    height: 300px;
    background-color: #000;
    color:#fff;
    overflow: hidden;
    border: solid white 3px;
    box-shadow: 0 0 10px #9ecaed;
    border-radius: 5px;
}

.card2 {
    display: flex;
    align-items: center;
    max-width: 800px;
    /*width: 100%;*/
    height: 500px;
    background-color: #000;
    color:#fff;
    overflow: hidden;
    border: solid white 3px;
    box-shadow: 0 0 10px #9ecaed;
    border-radius: 5px;
}


.card3 {
  border: solid white 3px;
  max-width: 800px;
  height: 900px;
  box-shadow: 0 0 10px #9ecaed;
  border-radius: 5px;
}


.text-portfolio {
    color:#fff;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}

.felicia__btn {
    width: 180px;
    height: 60px;
    border-radius: 5px;
    background:none;
    border-style: solid;
    color:#fff;
    cursor: pointer;
    font-weight: 800;
}

.felicia__btn:hover {
    background-color: rgba(214, 19, 19, 0.637);
    color:#000;
    transition: all 0.3s ease-in-out;
}

/*Felicia box*/ 

.container {
    position: relative;
    width: 50%;
}
  
.image {
    opacity: 1;
    display: block;
    max-width: 400px;
    height: 800px;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.container:hover .image {
    opacity: 0.3;
}
  
.container:hover .middle {
    opacity: 1;
}
  
.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.fa-github {
    color:#fff;
    cursor: pointer;
    text-decoration: none;
}

.skills__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
    max-width: 400px;
    width: 100%;
}

.rec1 {
    background-color:#927619;
    max-width: 400px;
    width: 100%;
}

.rec2 {
    background-color:#c1ad6d;
    max-width: 400px;
    width: 100%;
}

.rec3 {
    background-color:#927619;
    max-width: 400px;
    width: 100%;
}

.rec4 {
    background-color: #c1ad6d;
    max-width: 400px;
    width: 100%;
}

.rec5 {
    background-color:#927619;
    max-width: 400px;
    width: 100%;
}

.rec6 {
    background-color:#c1ad6d;
    max-width: 400px;
    width: 100%;
}

.rec7 {
    background-color:#927619;
    max-width: 400px;
    width: 100%;
}

/* Skills box */



.skills {
    color:#c1ad6d;
    font-size: 45px;
}

.progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 0 10px #9ecaed;
}
  
.progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

.progress-value2 {
    animation: load2 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

.progress-value3 {
    animation: load3 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

.progress-value4 {
    animation: load4 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

.progress-value5 {
    animation: load5 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

.progress-value6 {
    animation: load6 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

.progress-value7 {
    animation: load7 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

.progress-value8 {
    animation: load8 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}

.progress-value9 {
    animation: load9 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
}
  
  @keyframes load {
    0% { width: 0; }
    100% { width: 95%; }
  }

  @keyframes load2 {
    0% { width: 0; }
    100% { width: 95%; }
  }

  @keyframes load3 {
    0% { width: 0; }
    100% { width: 40%; }
  }

  @keyframes load4 {
    0% { width: 0; }
    100% { width: 70%; }
  }

  @keyframes load5 {
    0% { width: 0; }
    100% { width: 80%; }
  }

  @keyframes load6 {
    0% { width: 0; }
    100% { width: 70%; }
  }

  @keyframes load7 {
    0% { width: 0; }
    100% { width: 100%; }
  }

  @keyframes load8 {
    0% { width: 0; }
    100% { width: 30%; }
  }

  @keyframes load9 {
    0% { width: 0; }
    100% { width: 20%; }
  }


/* CAROUSEL PART */

/* Big thanks to Mahesh Ambure on Codepen */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);


.slider {
  width: 800px;
  min-height: 600px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__image {
  font-size: 2.7rem;
      color: #2196F3;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color:#fff;
  margin-bottom: 3rem;
  max-width: 500px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}


.tm-pic1, .tm-pic2, .tm-pic3, .tm-pic4 {
    max-width: 80px;
    width: 100%;
    height: 80px;
    border-radius: 50%;
}

.tm-text {
    color:#c1ad6d;
    font-size: 45px;
    margin-top: 10px;
}


/* IMAGE SLIDER */ 

.wf-pic {
 max-width: 510;
  width: 100%;
  height: 700px;
}

.wf-pic2 {
  max-width: 710px;
  width: 100%;
  height: 500px;
}


.carousel {
  width:540px;
  height:700px;
  z-index: -1;
}

.container-carousel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color:#fff;
  margin-top: 20px;
}

.carousel-inner {
  height: calc(100vh - 50px); /* full screen */
}
.carousel-inner > .item > img {
  width: 100%; /* to make smaller images look full */
}


.carousel-control-next-icon, .carousel-control-prev-icon  {
background-color: #0EC2A1;
border-radius: 5px;
}


.carousel-control-prev, .carousel-control-next {
  margin: -75px;
}

@media screen and (min-width: 320px) and (max-width: 769px) {

.card3 {
  max-width: 700px;
}

}
