*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    width:100%;
    font-family: 'Roboto', sans-serif; 
}

h1, h2 {
    color:#fff;
    font-family: 'Bebas Neue', cursive;
}

@import'main';
@import'header';
@import'footer';
@import'about';
@import'cv';
@import'contact';
@import'portfolio';
@import'music';