@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

body {
  font-size: 16px;
  text-align: center;
  font-family: "Fredoka One", cursive;
  background-color: black;
}

.all__index {
  display: flex;
  justify-content: center;
  height: 700px;
}

.landing__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing__text {
  color: #fff;
  text-transform: uppercase;
}

.background__image {
  background-image: url(/images/frontbild.jpg);
  min-height: 950px;
  /* You must set a specified height SÄTT DETTA NÄR SIDOR ÄR KLARA OCH DU VET HEIGH*/
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  background-attachment: fixed;
  overflow: hidden;
  /* Behöver overflow hidden någonstans?*/
}

.mini__logo {
  margin-left: 40px;
}

.fa-angellist, .fa-venus, .fa-file-alt, .fa-folder, .fa-itunes-note, .fa-hand-point-left {
  color: #927619;
  margin: 0px 10px 0px 10px;
}

.nav-links {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

.nav-links:hover {
  color: #927619;
  transition: all 0.3s ease;
}

.footer {
  position: relative;
  margin: 0;
}

.all__footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: #000000;
  color: white;
  max-width: 1800px;
  width: 100%;
  max-height: 100px;
}

.footer__box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.text__footer {
  letter-spacing: 1.6px;
  font-size: 16px;
  line-height: 26px;
  font-family: "Josefin Sans", sans-serif;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-facebook, .fa-twitter, .fa-linkedin, .fa-pinterest, .fa-youtube {
  color: white;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-linkedin:hover, .fa-pinterest:hover, .fa-youtube:hover {
  color: #8d7115;
  transition: all 0.3s ease 0s;
}

/*h2 {
    box-shadow: 8px 5px 5px  #927619;
}
.avatar__image {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 8px 5px 5px  #caaa3e;
}
.avatar__image2 {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    box-shadow: 8px 5px 5px  #927619;
}*/
.background__image2 {
  background-image: url(../images/erica.jpg);
  background-color: #cccccc;
  /* Used if the image is unavailable */
  height: auto;
  /* You must set a specified height SÄTT DETTA NÄR SIDOR ÄR KLARA OCH DU VET HEIGH*/
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  background-attachment: fixed;
  overflow: hidden;
  /* Behöver overflow hidden någonstans?*/
}

.moi {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-self: center;
  max-height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image__box2 {
  display: flex;
  flex-wrap: wrap;
  align-self: end;
}

.about__text-head {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.about__text {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #e9e9e8;
  letter-spacing: 1px;
  margin: 10px 20px 20px 20px;
}

.all__about {
  display: flex;
  flex-wrap: wrap;
  height: 900px;
  position: relative;
}

.about__card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 580px;
  max-height: 800px;
  width: 100%;
  margin-left: 50px;
  background-color: black;
  border-radius: 5px;
  opacity: 0.8;
  cursor: pointer;
}

/*kolla hur du döljer knappen*/
@media screen and (min-width: 0px) and (max-width: 768px) {
  .about__card {
    display: flex;
    justify-content: center;
    max-width: 700px;
    max-height: 700px;
  }

  .about__text {
    font-size: smaller;
  }

  .all__about {
    margin-right: 50px;
  }
}
@media screen and (min-width: 0px) and (max-width: 470px) {
  .about__card {
    max-width: 370px;
    max-height: 500px;
  }

  .about__text {
    font-size: 7px;
  }
}
.fa-angellist {
  color: #927619;
}

.btn__me {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  width: 100%;
  min-height: 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 4px #68a3dd;
  background-color: #3d8dde;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.nav__links {
  text-decoration: none;
  color: black;
  font-family: "Fredoka One", cursive;
}

.btn__me:hover {
  background-color: #224c75;
  font-size: large;
  font-weight: 400;
  transition: all 0.3s ease;
}

.fa-envelope {
  margin-left: 5px;
  color: #927619;
}

.background__image1 {
  background-image: url(../images/cv_bk.jpg);
  height: auto;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  background-attachment: fixed;
  overflow: hidden;
  /* Behöver overflow hidden någonstans?*/
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

/*lek*/
.all__cv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.work__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ed__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ex__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ex__box2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.head__text-box {
  display: flex;
  justify-content: center;
}

.head__text-cv {
  display: flex;
  justify-content: center;
  background-color: #1e2933;
  color: #fff;
  opacity: 0.8;
  margin: 40px 0px 40px 0px;
  max-width: 320px;
  width: 100%;
  border-radius: 3px;
  font-size: 40px;
}

h1 {
  font-size: 2.2em;
}

.front {
  opacity: 0.8;
}

.back {
  font-family: "Roboto", sans-serif;
}

.fa-smile-beam {
  color: #f0e5af;
}

.fa-graduation-cap {
  color: #000;
}

.fa-briefcase {
  color: #8d7115;
}

.flip {
  cursor: pointer;
  position: relative;
}
.flip > .front,
.flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 1.3s;
  transition-property: transform, opacity;
}
.flip > .front {
  transform: rotateY(0deg);
}
.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
.flip:hover > .front {
  transform: rotateY(180deg);
}
.flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}
.flip.flip-vertical > .back {
  transform: rotateX(-180deg);
}
.flip.flip-vertical:hover > .front {
  transform: rotateX(180deg);
}
.flip.flip-vertical:hover > .back {
  transform: rotateX(0deg);
}

.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 16px;
  width: 340px;
}
.flip > .front,
.flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 240px;
  padding: 16px 32px;
  background: #a0ac98;
  border-radius: 10px;
}
.flip > .front p,
.flip > .back p {
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  color: #ffff;
}

.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

.head__text-cv {
  display: flex;
}

h1 {
  color: #000;
}

.all__contact-page {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  min-height: 800px;
}

.pic__box {
  display: flex;
  align-self: center;
}

.text__email {
  background-color: #1c3641;
  opacity: 0.7;
  color: white;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 70px;
  align-items: center;
  max-width: 350px;
  width: 100%;
  margin-bottom: 10px;
}

ul.fireflies {
  list-style: none;
}

.fire {
  background-size: cover;
  background-image: url(../images/elippse2.png);
  width: 21px;
  top: -20px;
  height: 21px;
  position: absolute;
  animation: leftright 24s infinite cubic-bezier(0.39, 0, 0.63, 1), updown 8s infinite 1.25s cubic-bezier(0.39, 0, 0.63, 1);
}

.fire:nth-of-type(2) {
  animation-delay: 4s;
  animation-duration: 17s, 8s;
  animation-fill-mode: backwards, backwards;
}

.fire:nth-of-type(3) {
  animation-delay: 1.5s;
  animation-duration: 14s, 7s;
  animation-fill-mode: backwards, backwards;
}

.fire:nth-of-type(4) {
  animation-delay: 5.5s;
  animation-duration: 10s, 13s;
}

.fire:nth-of-type(5) {
  animation-fill-mode: backwards, backwards;
  animation-duration: 12s, 15s;
}

@keyframes leftright {
  0%, 100% {
    left: 20%;
  }
  16.666% {
    left: 90%;
  }
  33.333% {
    left: 10%;
  }
  50% {
    left: 50%;
  }
  66.666% {
    left: 70%;
  }
  83.333% {
    left: 40%;
  }
}
@keyframes updown {
  0%, 100% {
    top: 0px;
    width: 20px;
    height: 20px;
  }
  25% {
    top: 70%;
  }
  50% {
    top: 50%;
    width: 30px;
    height: 30px;
  }
  75% {
    top: 70%;
    width: 10px;
    height: 10px;
  }
}
.background__image5 {
  background-image: url(../images/foggy.jpg);
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.form__page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 40px;
}

/*Sätta width/height på denna?*/
.card {
  display: flex;
  justify-content: center;
  max-width: 450px;
  width: 100%;
  height: 750px;
  border-radius: 10px;
  position: relative;
  background-color: #1c3641;
  border-radius: 2px;
  opacity: 0.7;
}

.info__card2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
  max-width: 400px;
  width: 100%;
  position: relative;
}

.input-field {
  box-sizing: border-box;
  width: 100%;
  min-height: 32px;
  margin-bottom: 10px;
  border: 2px solid #5b6868;
  background-color: #fffdf9;
  border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 7px;
}

.input-title {
  font-family: "Libre Baskerville", serif;
  font-size: small;
}

.label {
  display: block;
  font-size: 12px;
  box-sizing: border-box;
  position: relative;
  bottom: -2px;
  z-index: 1;
  width: 100%;
  background-color: #0b1f24;
  padding: 4px 7px;
  font-size: medium;
  color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: #000;
  cursor: default;
}

.btn {
  width: 180px;
  height: 40px;
  background-color: #0a1d22;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Libre Baskerville", serif;
  margin-top: 12px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #000;
  color: #fff;
  width: 185px;
  height: 42px;
}

.contact__link {
  text-decoration: none;
  color: #fff;
}

.contact__link:hover {
  color: #fff;
}

.btn__contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all__portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 900px;
}

.cards__port-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 40px 0px 40px 0px;
}

.card1, .card2 {
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 100%;
  height: 300px;
  background-color: #000;
  opacity: 0.7;
  overflow: hidden;
}

.text {
  color: #fff;
  margin: 5px;
}

.fa-github {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.fa-github:hover {
  color: #8d7115;
}

.background__image4 {
  background-image: url(../images/fog.jpg);
  background-color: #000;
  /* Used if the image is unavailable */
  height: auto;
  /* You must set a specified height SÄTT DETTA NÄR SIDOR ÄR KLARA OCH DU VET HEIGH*/
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  background-attachment: fixed;
  overflow: hidden;
  /* Behöver overflow hidden någonstans?*/
}

.skills__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rec1 {
  background-color: rgba(39, 105, 30, 0.637);
  max-width: 400px;
  width: 100%;
}

.rec2 {
  background-color: #7357;
  max-width: 400px;
  width: 100%;
}

.rec3 {
  background-color: rgba(34, 68, 34, 0.568);
  max-width: 400px;
  width: 100%;
}

.rec4 {
  background-color: rgba(34, 34, 85, 0.589);
  max-width: 400px;
  width: 100%;
}

.rec5 {
  background-color: rgba(136, 85, 51, 0.637);
  max-width: 400px;
  width: 100%;
}

.rec6 {
  background-color: #6735;
  max-width: 400px;
  width: 100%;
}

.background__image3 {
  background-image: url(/images/leonfli.jpg);
  background-color: #cccccc;
  /* Used if the image is unavailable */
  height: auto;
  /* You must set a specified height SÄTT DETTA NÄR SIDOR ÄR KLARA OCH DU VET HEIGH*/
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  background-attachment: fixed;
  overflow: hidden;
  /* Behöver overflow hidden någonstans?*/
}

.all__music {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 2200px;
  margin-top: 40px;
}

.text-spot__container {
  display: flex;
  justify-content: space-evenly;
}

.about__lionfly {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
  color: #4897b5;
  max-width: 500px;
  width: 100%;
  opacity: 0.8;
  position: relative;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.about__text1 {
  margin-top: 20px;
  font-family: "Fredoka One", cursive;
  color: #8d7115;
}

.about__text2 {
  letter-spacing: 1px;
  margin: 20px 30px 30px 30px;
}

.mini__text {
  display: flex;
  align-self: center;
  align-items: center;
  opacity: 0.8;
  color: #000;
  background-color: #4897b5;
  opacity: 0.6;
  max-width: 300px;
  width: 100%;
  height: 150px;
  letter-spacing: 3px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.fa-quote-left, .fa-quote-right {
  color: #8d7115;
}

.spotify {
  display: flex;
  align-self: center;
}

.video__container {
  display: flex;
  flex-direction: column;
}

.dark__dreams, .epiphany, .lowly__coward, .down__lines {
  margin-top: 20px;
  margin-bottom: 20px;
}